.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: none;
  width: 70%;
}
.domainUrl {
  font-size: 15px;
  color: #64748b;
  margin-left: 10px;
}
.title {
  font-size: 17px;
  color: #475569;
  font-weight: 500;
  margin-left: 8px;
}
.logo {
  height: 40px;
  width: 30px;
}

.delete {
  height: 25px;
  width: 20px;
}
.time {
  font-size: 20px;
  margin-right: 20px;
  width: 130px;
  padding-top: 0px;
  margin-top: 0px;
}
